body {
	-x-system-font: none;
	color: #778899;
	font-family: Arial, Sans-serif;
	font-size: 62.5%;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	width: 780px;
}

#topnav {
	font-size: 1.2em;
	line-height: 23px;
	padding: 10px 25px 12px;
	text-align: right;
}

#header {
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	background: #ff6600 url(http://www.grosshat.com/imgs/bg-search-box.png)
		no-repeat 96% 55%;
	position: relative;
}

#header2 {
	background-color: transparent;
	padding: 30px 25px;
}

#slogan {
	-x-system-font: none;
	color: #fff;
	float: right;
	font-size: 1.8em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 24px;
	margin: 0 149px 0 0;
}

.logo {
	font-size: 4em;
	font-weight: 700;
	text-decoration: none;
	color: #6f0909;
	margin: 0;
}

#home-search {
	margin: 25px 0 0;
}

#home-search label {
	color: #fff;
	display: block;
	margin: 0 0 6px 2px;
}

#home-search-q {
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-topleft: 5px;
	-x-system-font: none;
	background: #FFFFFF none repeat scroll 0 0;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 1.6em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	outline-width: 0;
	padding: 8px 10px;
	width: 480px;
}

#home-search-submit {
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-topright: 5px;
	-x-system-font: none;
	background: #BBBBBB url(http://www.grosshat.com/imgs/bg-search.png)
		repeat-x scroll 0 0;
	border: 1px solid #EEEEEE;
	color: #333333;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 1.6em;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: normal;
	margin-left: -0.5em;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 7px 15px;
	text-decoration: none;
	text-shadow: 0 1px 0 #FFFFFF;
}

#trends-tags {
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	background: #cc0f0e;
	overflow: hidden;
	padding: 0;
	position: relative;
	color: #fff;
}
#trends-tags h2 { 
  background: #ff7733;
  font-size:1.3em;
  margin:0;
  padding:.5em;
  text-align:center;
}

/* cloudtags */
#trends-tags ul { padding: 1em; line-height: 3em; margin: 0;}
#trends-tags ul li { display: inline; margin:0 .7em 0 .7em;}
#trends-tags a { padding: 0px; text-decoration: none; color:#fff;}
a.tag0 { font-size: 1.5em; font-weight: 100; }
a.tag1 { font-size: 1.6em; font-weight: 200; }
a.tag2 { font-size: 1.7em; font-weight: 300; }
a.tag3 { font-size: 1.8em; font-weight: 400; }
a.tag4 { font-size: 2.0em; font-weight: 500; }
a.tag5 { font-size: 2.2em; font-weight: 600; }
a.tag6 { font-size: 2.4em; font-weight: 700; }
a.tag7 { font-size: 2.6em; font-weight: 800; }
a.tag8 { font-size: 2.8em; font-weight: 900; }
a.tag9 { font-size: 3.0em; font-weight: 900; }