<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-app_2_4.xsd"
	version="2.4">

	<display-name>bussr</display-name>

	<!-- the usual welcome file list -->
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<filter>
		<display-name>Stripes Filter</display-name>
		<filter-name>StripesFilter</filter-name>
		<filter-class>net.sourceforge.stripes.controller.StripesFilter
		</filter-class>
		<!-- actions autodiscover -->
		<init-param>
			<param-name>ActionResolver.Packages</param-name>
			<param-value>org.dataport.bussr.action</param-value>
		</init-param>

		<!-- resource bundles for literals -->
		<init-param>
			<param-name>ResourceBundles.BaseNames</param-name>
			<param-value>messages</param-value>
		</init-param>

		<!-- for injecting spring beans -->
		<init-param>
			<param-name>Interceptor.Classes</param-name>
			<param-value>
				net.sourceforge.stripes.integration.spring.SpringInterceptor
			</param-value>
		</init-param>
	</filter>

	<!--
		see http://stripes.sourceforge.net/docs/current/javadoc/net/sourceforge/stripes/controller/DynamicMappingFilter.html
	-->
	<filter>
		<description>Dynamically maps URLs to ActionBeans.</description>
		<display-name>Stripes Dynamic Mapping Filter</display-name>
		<filter-name>DynamicMappingFilter</filter-name>
		<filter-class>
			net.sourceforge.stripes.controller.DynamicMappingFilter
		</filter-class>
		<!-- for injecting spring beans -->
		<init-param>
			<param-name>Interceptor.Classes</param-name>
			<param-value>
				net.sourceforge.stripes.integration.spring.SpringInterceptor
			</param-value>
		</init-param>

	</filter>

	<filter-mapping>
		<filter-name>DynamicMappingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

</web-app>
